<footer>
  <div class="footer__top pt-100 pb-65">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-wrapper single-footer mb-30">
            <div class="footer-logo">
              <a href="#"><img src="../../../assets/images/logo.png" alt=""></a>
            </div>
            <ul class="footer-link">
              <li><i class="icofont-envelope"></i>
                196, Salem Main Road, Muthapatty PO,<br>
                Valapady TK, Salem - 636 111<br>
                Tamil Nadu, India</li>
              <li><i class="icofont-stock-mobile"></i>04292 - 230 441, 230 411</li>
              <li><i class="icofont-send-mail"></i><a
                  href="mailto:info@vaigaiinstitutions.com">info@vaigaiinstitutions.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-wrapper single-footer mb-30 pl-40">
            <h4 class="d-inline section-heading">QUICK LINKS</h4>
            <ul class="footer__menu">
              <li><a href="#">about</a></li>
              <li><a href="#">Admission</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-wrapper single-footer mb-30 pl-40">
            <h4 class="d-inline section-heading courses-list">OUR COURSES</h4>
            <ul class="footer__menu">              
                <li><a href="#">Art College</a></li>
                <li><a href="#">CBSE School </a></li>
                <li><a href="#">Matriculation School</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="copyright text-center">
            <p>© 2019 Vaigai Institutions all rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>