<header>
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__top-menu text-right">
                        <ul>
                            <li class="dropdown__button normal-button">
                                <a href="#" class="menu-button"><i class="app-icon icofont-swoosh-down"></i>Download
                                    Application Form</a>
                                <div class="download__dropdown-container">
                                    <div class="download__dropdown-wrap">
                                        <ul class="download__dropdown-list">
                                            <li><a href="#">CBSE school</a></li>
                                            <li><a href="#">Matriculation school</a></li>
                                            <li><a href="#">Art & Science</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="normal-button"><a href="#" class="menu-button"><i
                                        class="app-icon icofont-teacher"></i>Staff Login</a></li>
                            <li class="normal-button"><a href="#" class="menu-button"><i
                                        class="app-icon icofont-group-students"></i>Parent Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/images/logo.png" />
                </div>
            </div>
        </div>
    </div>
</header>