<div class="notice-board pt-100 pb-85">
  <div class="shape micro-scope-shape">
    <img src="../../../assets/images/microscope.png" />
  </div>
  <div class="shape global-shape">
    <img src="../../../assets/images/global.png" />
  </div>
  <div class="shape divider-shape">
    <img src="../../../assets/images/divider.png" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col section-title text-center mb-70">
        <h2 class="d-inline section-heading">notice board</h2>
      </div>
    </div>
    <div class="row">
        <ngx-slick-carousel class="carousel notice-slider" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="notice-card mb-20 d-flex">
              <div class="notice-card-date d-flex align-item-center">
                <div class="date-block">
                  <span class="date">{{slide.date}}</span>
                  <span class="month">{{slide.month}}</span>
                </div>
              </div>
              <div class="notice-card-text">
                <h3>{{slide.heading}}</h3>
                <p>{{slide.shortDec}}</p>
            </div>
            </div>
      </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>


