<div class="notice-board pt-100 pb-85">
  <div class="shape micro-scope-shape">
    <img src="../../../assets/images/microscope.png" />
  </div>
  <div class="shape global-shape">
    <img src="../../../assets/images/global.png" />
  </div>
  <div class="shape divider-shape">
    <img src="../../../assets/images/divider.png" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col section-title text-center mb-70">
        <h2 class="d-inline section-heading">notice board</h2>
      </div>
    </div>
    <div class="row">
      <div class="notice-container d-flex">
        <div class="notice-card mb-20 d-flex">
          <div class="notice-card-date d-flex align-item-center">
            <div class="date-block">
              <span class="date">27</span>
              <span class="month">March</span>
            </div>
          </div>
          <div class="notice-card-text">
            <h3>Medical Camp</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belie..
          </div>
        </div>
        <div class="notice-card mb-20 d-flex">
          <div class="notice-card-date d-flex align-item-center">
            <div class="date-block">
              <span class="date">27</span>
              <span class="month">March</span>
            </div>
          </div>
          <div class="notice-card-text">
            <h3>Medical Camp</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belie..
          </div>
        </div>
        <div class="notice-card mb-20 d-flex">
          <div class="notice-card-date d-flex align-item-center">
            <div class="date-block">
              <span class="date">09</span>
              <span class="month">May</span>
            </div>
          </div>
          <div class="notice-card-text">
            <h3>Medical Camp</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belie..
          </div>
        </div>
        <div class="notice-card mb-20 d-flex">
          <div class="notice-card-date d-flex align-item-center">
            <div class="date-block">
              <span class="date">09</span>
              <span class="month">May</span>
            </div>
          </div>
          <div class="notice-card-text">
            <h3>Medical Camp</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belie..
          </div>
        </div>
        <div class="notice-card mb-20 d-flex">
          <div class="notice-card-date d-flex align-item-center">
            <div class="date-block">
              <span class="date">09</span>
              <span class="month">May</span>
            </div>
          </div>
          <div class="notice-card-text">
            <h3>Medical Camp</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old.Contrary to popular belie..
          </div>
        </div>
      </div>
    </div>
  </div>
</div>